:root {
    --color-1: white;
    --color-2: #00bfff;
    --color-3: #000271;
    --color-4: #d90000;
    --color-5: #fae098;
}


@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-size: 100%;
    box-sizing: border-box;
}

body{ 
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    font-family: EBGaramond, Georgia, "Times New Roman", serif;    
    background-image: url(images/bluebonnets2.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    overflow: auto;
    position: relative;
}

.pagetitle {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
}

p, li, .listtitle {
    font-size: 1.5rem;
}

#banner {
    font-family: DancingScript, cursive;    
    background-image: url("images/clouds.png");
}

#banner h1 {
    font-size: 12rem;
    text-shadow: 4px 4px black; 
    color: var(--color-1);
    margin: 0;
    text-align: center;
}

#banner a {
    text-decoration: none;
    color: var(--color-1);
}

#subregions{
    float: right;
}

nav {
    display: flex;
    background-color: var(--color-3);
    font-size: 3em;
    text-align: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--color-1);
    text-shadow: 2px 2px black;
    text-decoration: none;
    transition: font-size .5s, padding .5s; 
    padding: 8px;    
}

nav a:visited {
    color: var(--color-4);
}

nav a:hover{
    color: var(--color-5);    
    font-size: 1.1em;
    padding: 0px;
}

main {
    padding-bottom: 60px;
}

section {
    overflow: auto;
}

.content {
    width: 55%;  
    padding: 0 6px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 200px;
    float: right;
}

aside {
    width: 25%;    
    border: 5px solid var(--color-4);
    border-radius: 12px;
    box-shadow: -12px 12px 6px gray;
    background-color: var(--color-1);
    padding: 0 6px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
    font-weight: bold;
}

footer {
    position: absolute;    
    bottom: 0px;
    width: 100%;
    color: var(--color-1);    
    background-color: var(--color-3);    
    text-align: center;
    margin: 0;
}

footer p {
    margin: 12px auto;
}

.references {
    width: 80%;
    margin: 0 auto;
}

.reference-item {
    padding-bottom: 20px;
}


/* some utility classes in case they are needed later */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.demo-border {
    border: 5px solid magenta;
}

