:root {
    --color-1: white;
    --color-2: #00bfff;
    --color-3: #000271;
    --color-4: #d90000;
}


@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-size: 100%;
    box-sizing: border-box;
}

body{ 
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    font-family: EBGaramond, Georgia, "Times New Roman", serif;    
    background-image: url(images/bluebonnets.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    overflow: auto;
    border: 5px solid red;
    /* position: relative; */
}

.section-head {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
}

p, ul, ol {
    font-size: 1.5rem;
}

#banner {
    font-family: DancingScript, cursive;    
    background-image: url("images/clouds.png");
}

#banner h1 {
    font-size: 12rem;
    text-shadow: 4px 4px black; 
    color: var(--color-1);
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    background-color: var(--color-3);
    font-size: 3em;
    text-align: center;
    justify-content: space-evenly;
    
}

nav a {
    color: var(--color-1);
    text-shadow: 2px 2px black;
    text-decoration: none;
    transition: font-size .5s, padding .5s; 
    padding: 8px;    
}

nav a:hover{
    color: var(--color-4);    
    font-size: 1.1em;
    padding: 0px;
}

main {
    width: 70%;
    background-color: lightgreen;
    border: 5px solid blue;
    margin-right: 20px;
    float: right;
}

aside {
    width: 20%;
    float: right;
    border: 5px solid blue;
    margin-right: 20px;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
    font-weight: bold;
}

footer {
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    color: var(--color-1);    
    background-color: var(--color-3);    
    clear: both;
    border: 5px solid blue;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 12px auto;
}


/* some utility classes in case they are needed later */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
